//
// default.scss - The original minimal theme
//

@import "compass";

@import url(https://fonts.googleapis.com/css?family=Lato:400italic,700italic,400,700);
$font: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace_font: DejaVu Sans Mono, Bitstream Vera Sans Mono, Lucida Console, Terminal, Monaco;
$background_color: #fff;
$text_color: #666;

$heading1_color: #222;
$heading2_color: #393939;
$heading3_color: #494949;
$mischeading_color: #444;

$a_color: #39c;
$a_hover_color: #069;
$a_small_color: #777;
$a_small_hover_color: $a_small_color;

$strong_color: #222;

$border_color: #e5e5e5;
$hr_color: $border_color;
$section_border_color: $border_color;

$code_color: #333;
$code_background: #f8f8f8;
$pre_color: $code_color;
$pre_background: $code_background;

// Some defaults

$heading1_color: $text_color !default;
$heading2_color: $heading1_color !default;
$heading3_color: $heading2_color !default;
$heading4_color: $heading3_color !default;
$heading5_color: $heading4_color !default;
$heading6_color: $heading5_color !default;
$mischeading_color: $heading1_color !default;

$a_small_color: $a_color !default;
$a_small_hover_color: $a_hover_color !default;

// The actual, non-theme specific, css

@import "layout";
