/* line 1, ../scss/pygment.scss */
.highlight .c {
  color: #999988;
  font-style: italic;
}

/* Comment */
/* line 2, ../scss/pygment.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 3, ../scss/pygment.scss */
.highlight .k {
  font-weight: bold;
}

/* Keyword */
/* line 4, ../scss/pygment.scss */
.highlight .o {
  font-weight: bold;
}

/* Operator */
/* line 5, ../scss/pygment.scss */
.highlight .cm {
  color: #999988;
  font-style: italic;
}

/* Comment.Multiline */
/* line 6, ../scss/pygment.scss */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}

/* Comment.Preproc */
/* line 7, ../scss/pygment.scss */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}

/* Comment.Single */
/* line 8, ../scss/pygment.scss */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* Comment.Special */
/* line 9, ../scss/pygment.scss */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 10, ../scss/pygment.scss */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}

/* Generic.Deleted.Specific */
/* line 11, ../scss/pygment.scss */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 12, ../scss/pygment.scss */
.highlight .gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 13, ../scss/pygment.scss */
.highlight .gh {
  color: #999999;
}

/* Generic.Heading */
/* line 14, ../scss/pygment.scss */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 15, ../scss/pygment.scss */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}

/* Generic.Inserted.Specific */
/* line 16, ../scss/pygment.scss */
.highlight .go {
  color: #888888;
}

/* Generic.Output */
/* line 17, ../scss/pygment.scss */
.highlight .gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 18, ../scss/pygment.scss */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 19, ../scss/pygment.scss */
.highlight .gu {
  color: #800080;
  font-weight: bold;
}

/* Generic.Subheading */
/* line 20, ../scss/pygment.scss */
.highlight .gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 21, ../scss/pygment.scss */
.highlight .kc {
  font-weight: bold;
}

/* Keyword.Constant */
/* line 22, ../scss/pygment.scss */
.highlight .kd {
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 23, ../scss/pygment.scss */
.highlight .kn {
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 24, ../scss/pygment.scss */
.highlight .kp {
  font-weight: bold;
}

/* Keyword.Pseudo */
/* line 25, ../scss/pygment.scss */
.highlight .kr {
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 26, ../scss/pygment.scss */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}

/* Keyword.Type */
/* line 27, ../scss/pygment.scss */
.highlight .m {
  color: #009999;
}

/* Literal.Number */
/* line 28, ../scss/pygment.scss */
.highlight .s {
  color: #dd1144;
}

/* Literal.String */
/* line 29, ../scss/pygment.scss */
.highlight .na {
  color: teal;
}

/* Name.Attribute */
/* line 30, ../scss/pygment.scss */
.highlight .nb {
  color: #0086b3;
}

/* Name.Builtin */
/* line 31, ../scss/pygment.scss */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}

/* Name.Class */
/* line 32, ../scss/pygment.scss */
.highlight .no {
  color: teal;
}

/* Name.Constant */
/* line 33, ../scss/pygment.scss */
.highlight .ni {
  color: purple;
}

/* Name.Entity */
/* line 34, ../scss/pygment.scss */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}

/* Name.Exception */
/* line 35, ../scss/pygment.scss */
.highlight .nf {
  color: #990000;
  font-weight: bold;
}

/* Name.Function */
/* line 36, ../scss/pygment.scss */
.highlight .nn {
  color: #555555;
}

/* Name.Namespace */
/* line 37, ../scss/pygment.scss */
.highlight .nt {
  color: navy;
}

/* Name.Tag */
/* line 38, ../scss/pygment.scss */
.highlight .nv {
  color: teal;
}

/* Name.Variable */
/* line 39, ../scss/pygment.scss */
.highlight .ow {
  font-weight: bold;
}

/* Operator.Word */
/* line 40, ../scss/pygment.scss */
.highlight .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 41, ../scss/pygment.scss */
.highlight .mf {
  color: #009999;
}

/* Literal.Number.Float */
/* line 42, ../scss/pygment.scss */
.highlight .mh {
  color: #009999;
}

/* Literal.Number.Hex */
/* line 43, ../scss/pygment.scss */
.highlight .mi {
  color: #009999;
}

/* Literal.Number.Integer */
/* line 44, ../scss/pygment.scss */
.highlight .mo {
  color: #009999;
}

/* Literal.Number.Oct */
/* line 45, ../scss/pygment.scss */
.highlight .sb {
  color: #dd1144;
}

/* Literal.String.Backtick */
/* line 46, ../scss/pygment.scss */
.highlight .sc {
  color: #dd1144;
}

/* Literal.String.Char */
/* line 47, ../scss/pygment.scss */
.highlight .sd {
  color: #dd1144;
}

/* Literal.String.Doc */
/* line 48, ../scss/pygment.scss */
.highlight .s2 {
  color: #dd1144;
}

/* Literal.String.Double */
/* line 49, ../scss/pygment.scss */
.highlight .se {
  color: #dd1144;
}

/* Literal.String.Escape */
/* line 50, ../scss/pygment.scss */
.highlight .sh {
  color: #dd1144;
}

/* Literal.String.Heredoc */
/* line 51, ../scss/pygment.scss */
.highlight .si {
  color: #dd1144;
}

/* Literal.String.Interpol */
/* line 52, ../scss/pygment.scss */
.highlight .sx {
  color: #dd1144;
}

/* Literal.String.Other */
/* line 53, ../scss/pygment.scss */
.highlight .sr {
  color: #009926;
}

/* Literal.String.Regex */
/* line 54, ../scss/pygment.scss */
.highlight .s1 {
  color: #dd1144;
}

/* Literal.String.Single */
/* line 55, ../scss/pygment.scss */
.highlight .ss {
  color: #990073;
}

/* Literal.String.Symbol */
/* line 56, ../scss/pygment.scss */
.highlight .bp {
  color: #999999;
}

/* Name.Builtin.Pseudo */
/* line 57, ../scss/pygment.scss */
.highlight .vc {
  color: teal;
}

/* Name.Variable.Class */
/* line 58, ../scss/pygment.scss */
.highlight .vg {
  color: teal;
}

/* Name.Variable.Global */
/* line 59, ../scss/pygment.scss */
.highlight .vi {
  color: teal;
}

/* Name.Variable.Instance */
/* line 60, ../scss/pygment.scss */
.highlight .il {
  color: #009999;
}

/* Literal.Number.Integer.Long */
/* line 62, ../scss/pygment.scss */
.type-csharp .highlight .k {
  color: blue;
}

/* line 63, ../scss/pygment.scss */
.type-csharp .highlight .kt {
  color: blue;
}

/* line 64, ../scss/pygment.scss */
.type-csharp .highlight .nf {
  color: #000000;
  font-weight: normal;
}

/* line 65, ../scss/pygment.scss */
.type-csharp .highlight .nc {
  color: #2b91af;
}

/* line 66, ../scss/pygment.scss */
.type-csharp .highlight .nn {
  color: black;
}

/* line 67, ../scss/pygment.scss */
.type-csharp .highlight .s {
  color: #a31515;
}

/* line 68, ../scss/pygment.scss */
.type-csharp .highlight .sc {
  color: #a31515;
}
